<div class="row">
  <div class=" col col-md"></div>
  <div class=" col-10 col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca sus datos</h4>
      <label for="">Correo Electrónico</label>
      <input type="email" class="form-control" id="inputEmail" formControlName="email" autofocus/>
      <label for="">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password"/>
      <hr/>
      <button type="submit" class="btn btn-primary" name="button" [disabled]="!loginForm.valid">Inicie Sesión</button>
    </form>
    <p class="alert alert-danger" *ngIf="mensaje">El usuario/contraseña no es correcto</p>
  </div>
  <div class=" col col-md"></div>
</div>
