<div class="row">
  <div class=" col col-md"></div>
  <div class=" col-10 col-md-6">
    <form class="">
      <h4>Introduzca sus datos de registro</h4>
      <label for="">Correo Electrónico</label>
      <input type="email" class="form-control" id="inputEmail" autofocus/>
      <label for="">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword"/>
      <hr/>
      <button type="submit" class="btn btn-primary" name="button">Registrar</button>
    </form>
  </div>
  <div class=" col col-md"></div>
</div>
